*{
  margin: 0;
}
body{
  background-color: lightblue;
}

h1{
  color: black;
  background-color: lightblue;
  font-size: 40px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  ul {
      list-style-type: none;
      margin: 10px;
      padding: 0;
      overflow: hidden;
      background-color: #4563a1;
      
    }
    
    li {
      float: left;
    }
   
    li a {
      display: block;
      color:black;
      text-align: center;
      padding: 14px 110px;
      text-decoration: none;
      width: 500;
    }
   
    li a:hover {
      background-color: hwb(225 65% 16%);
    }

    .search{
      width: 150px;
      height: 21px;
      position: relative;
      top: 10px;
      font-size: 20px;
      left: 100px;
    }
    .button{
      width: 30px;
      height: 21px;
      position: relative;
      top: 8px;
      left: 100px;
    }

 .One{
 font-size: 30px;
 position: relative;
 left: 70px;
 color: black;
  }

  .Date{
    position: relative;
    left: 10px;
    top: 95px;
  }

  .Name{
    position: relative;
    left: 10px;
    top: 95px;
  }

.homeimage{
border:0px solid black;
width: 400px;
position: absolute;
right: 50px;
top: 150px  
}

hr{
background-color:#4563a1;
position: relative;
top: 100px;
height: 3px;

}

.feedback{
position: relative;
top: 110px;
left: 10px;
}

.submit{
position: relative;
top: 90px;
left: 10px;
}

.textarea{
position: relative;
top: 110px;
left: 10px;
}

    
  
