*{
    margin: 0;
}

body{
  background-color: lightblue;
}

h1{
    color: black;
    background-color: lightblue;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4563a1;
      }
      
      li {
        float: left;
      }
     
      li a {
        display: block;
        color:black;
        text-align: center;
        padding: 14px 110px;
        text-decoration: none;
        width: 500;
      }
     
      li a:hover {
        background-color: hwb(225 65% 16%);
      }
  
      .search{
        width: 150px;
        height: 21px;
        position: relative;
        top: 10px;
        font-size: 20px;
        left: 100px;
      }
      .button{
        width: 30px;
        height: 21px;
        position: relative;
        top: 8px;
        left: 100px;
      }

      .badposture{
        width: 450px;
        height: 450px;
        position: relative;
        left: 600px;
        top: 70px;
        right: 150px;
      }

  .p {
  border: 0px solid black;
  width: 400px;
  font-size: 30px;
  position: absolute;
  left: 10%;
  top: 30%;
}
      